/* NAVBAR */

.navlink:hover,
.active-navlink {
  color: theme("colors.gray.800");
  background-image: linear-gradient(
    theme("colors.gray.600"),
    theme("colors.gray.600")
  );
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: bottom left;
  animation: expand-bgImg 0.15s linear;
}
/* width */
.custom-table::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.custom-table::-webkit-scrollbar-track {
  background: #e2e8f0;
}

/* Handle */
.custom-table::-webkit-scrollbar-thumb {
  background: #54687b;
}

/* Handle on hover */
.custom-table::-webkit-scrollbar-thumb:hover {
  background: #61788e;
}
@keyframes expand-bgImg {
  0% {
    background-size: 10% 3px;
  }
  100% {
    background-size: 100% 3px;
  }
}
.fc {
  max-height: 80vh;
}
.fc button {
  background-color: theme("colors.gray.600") !important;
  border: none !important;
  margin-left: 0.25rem !important;
}
/* ICONS */
.white-fill {
  fill: invert(100%) sepia(0%) saturate(4310%) hue-rotate(35deg)
    brightness(102%) contrast(100%);
}
.qr-vid-container {
  width: 100%;
  position: relative;
}
.qr-error-popup,
.qr-success-popup {
  border: 3px solid white !important;
  color: white !important;
}
.qr-error-popup {
  background-color: #e11d48 !important;
}
.qr-error-popup h2 {
  font-weight: 700 !important;
}

.qr-success-popup {
  background-color: #22c55e !important;
}
.qr-success-popup h2 {
  font-weight: 700 !important;
}
.chart-container {
  width: 800px;
}
.chart-container-sm {
  width: 240px;
}
