@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
}

body {
  margin: 0;
  font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* FILLS */
  background-color: rgb(240, 244, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  .gradient-divided-gray {
    background: theme("colors.gray.800");
    background: linear-gradient(
      270deg,
      theme("colors.gray.800") 29%,
      theme("colors.gray.700") 29%,
      theme("colors.gray.700") 100%
    );
  }
  .gradient-divided-meadow {
    background: theme("colors.meadow.500");
    background: linear-gradient(
      270deg,
      theme("colors.meadow.500") 29%,
      theme("colors.meadow.400") 29%,
      theme("colors.meadow.400") 100%
    );
  }
  .gradient-divided-kape {
    background: theme("colors.kape.500");
    background: linear-gradient(
      270deg,
      theme("colors.kape.500") 29%,
      theme("colors.kape.400") 29%,
      theme("colors.kape.400") 100%
    );
  }
  .gradient-divided-salmon {
    background: theme("colors.salmon.500");
    background: linear-gradient(
      270deg,
      theme("colors.salmon.500") 29%,
      theme("colors.salmon.400") 29%,
      theme("colors.salmon.400") 100%
    );
  }
  .gradient-divided-amber {
    background: theme("colors.amber.500");
    background: linear-gradient(
      270deg,
      theme("colors.amber.500") 29%,
      theme("colors.amber.400") 29%,
      theme("colors.amber.400") 100%
    );
  }
}
@layer components {
  .form-input {
    @apply border border-gray-600 text-sm w-full p-2 mt-2 mb-4 rounded-sm;
  }
}
