.App {
  text-align: center;
}
/* NAVBAR */
.navlink:hover,
.active-navlink {
  color: black;
  background-image: linear-gradient(black, black);
  background-size: 80% 3px;
  background-repeat: no-repeat;
  background-position: bottom left;
  animation: expand-bgImg 0.15s linear;
}

@keyframes expand-bgImg {
  0% {
    background-size: 10% 3px;
  }
  100% {
    background-size: 80% 3px;
  }
}
